<%- include header %>
<ul style="list-style:none">
   <li><h3><a href="http://www.qq.com" target="_blank">QQ官网</a></h3></li> 
   <li><h3><a href="http://www.sohu.com" target="_blank">搜狐官网</a></h3></li> 
</ul>
<%- include footer %>
